{{outlet}}

<div id="page-header">
  <h1>{{model.id}}</h1>
</div>


<div id="content">
<%- "<\% for (var i in model.attributes) { %\>" %>
  <div class="form-row">
    <label>
      <%- "<\%= i %\>" %>
      {{input value=model.<%- "<\%= i %\>" %> disabled=isEditingDisabled }}
      {{#if isEditingDisabled}}
        <span {{action 'edit'}} class="glyphicon glyphicon-edit"></span>
      {{/if}}
      <div class="errors">
        {{#each model.errors.<%- "<\%= i %\>" %> as |error|}}
          {{error.message}}
        {{/each}}
      </div>
    </label>
  </div>
<%- "<\% } %\>" %>
  {{#unless isEditingDisabled}}
    <button {{action 'save'}}>Save</button>
  {{/unless}}
</div>
